.contenedor {
  text-align: CENTER;
  color: rgb(0, 0, 0);

  margin-right: 20px;
}

.redes {

  text-align: center;
}

.logo {

  
  text-align: center;
}




.producto1 {

  text-align: center;
}

.producto2 {

  text-align: center;
}

.producto3 {

  text-align: center;
}

.producto4 {

  text-align: center;
}

.producto5 {

  text-align: center;
}

.producto6 {

  text-align: center;
}

.producto7 {

  text-align: center;
}



